<ion-header class="fixed-button">
    <button class="close-btn" ion-button float-right (click)="dismiss()">
        <ion-icon name="close" color="ivf1"></ion-icon>
    </button>
    <button ion-button float-right (click)="saveChange()" *ngIf="item.IsDisabled == false && isInput">
        Lưu
    </button>
    <button ion-button float-right (click)="print()" *ngIf="!isInput">
        In
    </button>
    <button ion-button float-right (click)="printPreview()" *ngIf="isInput">
        In Preview
    </button>
    <button color="warning" ion-button float-right *ngIf="isInput" (click)="cancel()">
        Hủy thay đổi
    </button>
</ion-header>

<ion-content style="background-color: #fff;">
    <br />
    <div id="frmDonXinXetDuyet" class="nckh-form-wrapper"></div>
    <div id="frmDonXinXetDuyetPrint" class="nckh-form-wrapper hide"></div>
</ion-content>