.nckh-form-template {
    size: a4;
    max-width: 7in;
    font-size: 13pt;
    margin: 1in 1in 1in 1in;
    font-family: 'Times New Roman', Times, serif;

    .inline {
        display: inline-block;
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .text-justify {
        text-align: justify;
    }

    .text-right {
        text-align: right;
    }

    .text-bold {
        font-weight: bold;
    }

    .tab-1 {
        margin-left: 1em;
    }

    .block {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .pblock {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .box {
        display: table;
        width: 100%;
        margin: 0;

        .box-title {
            position: absolute;
        }

        & > input[type="checkbox"] {
            vertical-align: initial;
        }

        & > * {
            display: table-cell;
            vertical-align: text-top;
            padding: 3px;
        }

        &.tab-1 {
            margin-left: 1em;
            width: calc(100% - 1em) !important;
        }

        [contenteditable="true"] {
            &:hover, &:focus {
                outline: 1px dashed #44a9eb;
            }
        }
    }

    table.nckh-table {
        border-collapse: collapse;

        thead {
            display: table-row-group;

            tr {
                page-break-inside: avoid;
                page-break-before: auto;

                &.table-header {
                    text-align: center;
                    vertical-align: middle;
                    font-weight: 600;

                    i {
                        font-weight: normal;
                    }
                }

                td, th {
                    padding: 3px;
                    page-break-inside: avoid;
                    page-break-before: auto;
                    vertical-align: middle;
                }
            }
        }

        tbody {
            width: 100%;

            tr {
                page-break-inside: avoid;
                page-break-before: auto;

                td {
                    padding: 3px;
                    word-break: break-word;
                    page-break-inside: avoid;
                    page-break-before: auto;
                    vertical-align: top;
                }
            }
        }
    }
}

@media print {
    .nckh-form-template {
        font-family: 'Times New Roman', Times, serif;

        .print-hidden {
            display: none;
        }

        .box {
            [contenteditable="true"] {
                &:hover, &:focus {
                    outline: none;
                }
            }
        }
    }
}
