.nckh-form-template {
    padding: 0 1in;

    &.font-size-14, .font-size-14 {
        font-size: 14pt;
    }

    &.font-size-13, .font-size-13 {
        font-size: 13pt;
    }

    &.font-size-12, .font-size-12 {
        font-size: 12pt;
    }

    &.font-size-11, .font-size-11 {
        font-size: 11pt;
    }

    &.font-size-10, .font-size-10 {
        font-size: 10pt;
    }

    &.no-header-footer {
        padding-top: 1in;
        padding-bottom: 1in;
    }

    .page-header, .page-header-space {
        height: 1in;
    }

    .page-footer, .page-footer-space {
        height: 1in;
    }

    .page-footer {
        bottom: 0;
        width: 100%;
        background: #fff;

        .print-hidden {
            display: initial;
        }

        .uiview-hidden {
            display: none;
        }
    }

    .page-header {
        top: 0mm;
        width: 100%;
        background: #fff;
    }

    .inline {
        display: inline-block;
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .text-justify {
        text-align: justify;
    }

    .text-right {
        text-align: right;
    }

    .text-bold {
        font-weight: bold;
    }

    .text-italic {
        font-style: italic;
    }

    .tab-1 {
        margin-left: 1em;
    }

    .tab-2 {
        margin-left: 2em;
    }

    .block {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .pblock {
        margin-top: 5px;
        margin-bottom: 5px;

        &:hover {
        }
    }

    .prow {
        &:hover {
            //box-shadow: 0px 0px 2px #44a9eb;
        }
    }

    .page {
        position: relative;
        min-height: 9.69in;
        page-break-after: always;
    }

    .cell-inline {
        .input-inline {
            display: inline-block;
        }
    }

    .box-inline {
        display: table;
        width: 100%;
        min-height: 26px;
        margin: 0 0 3px 0;

        > * {
            display: inline-block;
            vertical-align: middle;
            padding: 0;
        }

        &.tab-1 {
            margin-left: 1em;
            width: calc(100% - 1em) !important;
        }

        &.tab-2 {
            margin-left: 2em;
            width: calc(100% - 2em) !important;
        }

        .box {
            margin: 0;
        }
    }

    .box {
        display: table;
        width: 100%;
        min-height: 26px;
        margin: 0 0 3px 0;

        .box-title {
            position: absolute;
        }

        & > input[type="checkbox"] {
            vertical-align: initial;
        }

        & > * {
            display: table-cell;
            vertical-align: text-top;
            padding: 3px;
        }

        &.tab-1 {
            margin-left: 1em;
            width: calc(100% - 1em) !important;
        }

        &.tab-2 {
            margin-left: 2em;
            width: calc(100% - 2em) !important;
        }

        [contenteditable="true"] {
            &:hover, &:focus {
                //outline: 1px dashed #44a9eb;
            }
        }
    }

    [contenteditable="true"] {
        &:hover, &:focus {
            //outline: 1px dashed #44a9eb;
        }
        /*> p:first-child, > div:first-child {
            margin-top: 0;
        }*/
        > p, > div {
            margin-bottom: .6rem;
            margin-top: .6rem;
        }
    }

    table.nckh-table {
        border-collapse: collapse;
        font-size: inherit;

        thead {
            display: table-row-group;

            tr {
                page-break-inside: avoid;
                page-break-before: auto;

                &.table-header {
                    text-align: center;
                    vertical-align: middle;
                    font-weight: 600;

                    i {
                        font-weight: normal;
                    }
                }

                td, th {
                    padding: 3px;
                    page-break-inside: avoid;
                    page-break-before: auto;
                    vertical-align: middle;
                }
            }
        }

        tbody {
            width: 100%;

            tr {
                page-break-inside: avoid;
                page-break-before: auto;

                &[summary="true"] {
                    td {
                        font-weight: 600;
                        text-align: center;
                    }
                }

                td {
                    padding: 3px;
                    word-break: break-word;
                    page-break-inside: avoid;
                    page-break-before: auto;
                    vertical-align: top;

                    &[contenteditable="true"] {
                        padding: 6px;
                    }

                    &[contenteditable="false"] {
                        height: 26px;
                    }

                    > .box:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.td-padding-0 {
            tbody {
                tr {
                    > td {
                        padding: 0
                    }
                }
            }
        }

        &.table-inside-table {
            border: 0;

            tr {
                > td {
                    border: 1px solid #607d8b;
                    border-bottom: 0;

                    &:first-child {
                        border-left: 0;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }

        &.editable-table:not(.noaction) {
            tbody > tr:hover::after, tbody > tr:focus::after {
                display: inline;
            }

            tbody > tr::after {
                display: none;
                position: absolute;
                content: "Delete";
                right: 0;
                transform: translate(0, -99%);
                border: 1px solid red;
                padding: 3px 5px;
                font-size: 13px;
                color: #000;
                background: #f9f9f9;
                border-radius: 4px;
                cursor: pointer;
                -webkit-appearance: button;
            }
        }
    }

    .c-input {
        font-size: 12pt;
        border: 1px solid #dadada;
        padding: 5px 10px;
        background-color: #ffffff;

        &.no-border {
            border: none;
            padding: 5px;
        }
    }

    .c-control {
        margin-bottom: 5px !important;

        &.tab-1 {
            margin-left: 10px;
        }

        .c-label.normal {
            color: #000000;
        }
    }

    [input]:disabled {
        background-color: #ffffff;
    }

    .button-ios {
        padding: 2px 5px;
        font-size: 15px;
        height: 30px;
        z-index: 9999;
    }

    .group_controls {
        border-radius: 4px !important;
        overflow: hidden;

        .fieldgroup_controls {
            button {
            }
        }
    }


    &.input-mode {

        &.tab-1 {
            margin-left: 0;
            width: 100% !important;
        }

        &.tab-2 {
            margin-left: 0;
            width: 100% !important;
        }

        .box-inline {
            display: table;
            width: 100%;
            min-height: 26px;
            margin: 0 0 3px 0;

            > * {
                display: inline-block;
                vertical-align: middle;
                padding: 0;
            }

            &.tab-1 {
                margin-left: 1em;
                width: calc(100% - 1em) !important;
            }

            &.tab-2 {
                margin-left: 2em;
                width: calc(100% - 2em) !important;
            }

            .box {
                margin: 0;
            }
        }

        .box {
            display: table;
            width: 100%;
            min-height: 26px;
            margin: 0 0 8px 0;

            &.tab-1 {
                margin-left: 0;
                width: 100% !important;
            }

            &.tab-2 {
                margin-left: 0;
                width: 100% !important;
            }

            .box-title {
                position: relative;
            }

            & > input[type="checkbox"] {
                vertical-align: initial;
            }

            & > *:not(input) {
                display: block;
                padding: 3px;
            }

            [contenteditable] {
                padding: 5px;
                border: 1px solid #d2d2d2;
                border-radius: 3px;
                min-height: 32px;
                text-indent: 0 !important;
                text-rendering: auto;
                color: -internal-light-dark-color(black, white);
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-shadow: none;
                text-align: start;
                -webkit-appearance: textfield;
                background-color: -internal-light-dark-color(white, black);
                cursor: text;
                margin: 0em;
            }

            [contenteditable="true"] {
                &:hover, &:focus {
                    border: 1px solid #44a9eb;
                }
            }

            [contenteditable="false"] {
                background-color: #eaeaea;
            }
        }

        [contenteditable="true"] {
            &:not(td) {
                display: inline !important;
                width: 100%;
            }

            &:hover, &:focus {
                border: 1px solid #44a9eb;
            }

            > p, > div {
                margin-bottom: .6rem;
                margin-top: .6rem;
            }
        }

        table.nckh-table {
            border-collapse: collapse;
            font-size: inherit;

            thead {
                display: table-row-group;

                tr {
                    page-break-inside: avoid;
                    page-break-before: auto;

                    &.table-header {
                        text-align: center;
                        vertical-align: middle;
                        font-weight: 600;

                        i {
                            font-weight: normal;
                        }
                    }

                    td, th {
                        padding: 3px;
                        page-break-inside: avoid;
                        page-break-before: auto;
                        vertical-align: middle;
                    }
                }
            }

            tbody {
                width: 100%;

                tr {
                    page-break-inside: avoid;
                    page-break-before: auto;

                    &[summary="true"] {
                        td {
                            font-weight: 600;
                            text-align: center;
                        }
                    }

                    td {
                        padding: 3px;
                        word-break: break-word;
                        page-break-inside: avoid;
                        page-break-before: auto;
                        vertical-align: top;

                        &[contenteditable="true"] {
                            padding: 6px;
                        }

                        &[contenteditable="false"] {
                            height: 26px;
                        }

                        > .box:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.td-padding-0 {
                tbody {
                    tr {
                        > td {
                            padding: 0
                        }
                    }
                }
            }

            &.table-inside-table {
                border: 0;

                tr {
                    > td {
                        border: 1px solid #607d8b;
                        border-bottom: 0;

                        &:first-child {
                            border-left: 0;
                        }

                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media print {
    .nckh-form-template {
        font-family: 'Times New Roman', Times, serif;

        .print-hidden {
            display: none;
        }

        .group_controls {
            display: none;
        }

        .nckh-form-template {
            box-shadow: none;
        }

        .box {
            [contenteditable="true"] {
                &:hover, &:focus {
                    outline: none;
                }
            }
        }
    }
}
