<ion-header *ngIf="userprofile">

    <a (click)="openDefaultPage()" class="logo" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.LogoURL? userprofile.Partner.LogoURL : './assets/imgs/avartar-empty.jpg') + ')'}"></a>
    <div class="search">
        <ion-searchbar class="txt-search" placeholder="Search..." [(ngModel)]="keyword" (ionInput)="search($event)"></ion-searchbar>
    </div>
    <div class="path">
        <a (click)="openDefaultPage()">Home</a>
        <ion-icon class="split" name="ios-arrow-forward"></ion-icon>
        <a class="active">Báo cáo tiến độ nghiên cứu</a>
    </div>
    <div class="tools">

        <button color="primary" ion-button icon-only clear (click)="refresh()">
          <ion-icon name="refresh"></ion-icon>
      </button>

        <button color="success" ion-button icon-only clear (click)="add()">
          <ion-icon name="ios-add-circle"></ion-icon>
      </button>

        <span class="split" *ngIf="selected.length"></span>

        <button ion-button icon-only clear *ngIf="selected.length" (click)="openDetail(selected[0])">
          <ion-icon name="ios-create"></ion-icon>
      </button>
        <button color="danger" ion-button icon-only clear *ngIf="selected.length" (click)="delete()">
          <ion-icon name="ios-trash"></ion-icon>
      </button>
    </div>

    <div class="background" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.BannerURL? userprofile.Partner.BannerURL : './assets/imgs/header-bg.jpg') + ')'}"></div>

</ion-header>

<ion-content>
    <ion-row>

        <ion-col class="doc-menu">
            <div class="root-items" *ngFor="let i of FormGroups">
                <a *ngFor="let t of i.FormMenu" [class]="pageName==t.Code? 'active': ''" (click)="setPage(t.Code)">
                    <ion-icon [name]="t.Icon"></ion-icon>
                    <span>
                      {{t.Name}}
                  </span>
                </a>
            </div>
        </ion-col>


        <ion-col class="doc-main">
            <ngx-datatable class="material" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable" [columnMode]="'force'" [headerHeight]="55" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="lstData"
                           [selectionType]="'single'" (select)='onSelect($event)'>

                <ngx-datatable-column name="Tên đề tài" prop="TenDeTai" [width]="150" [maxWidth]="150" headerClass="name" cellClass="name">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        {{i.TenDeTai}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Chủ nhiệm đề tài" prop="ChuNhiemDeTai"></ngx-datatable-column>
                <ngx-datatable-column name="Nghiên cứu viên chính" prop="NCVChinh"></ngx-datatable-column>
                <ngx-datatable-column name="Ngày duyệt NC" prop="NgayDuyetNghienCuu" [width]="170" [maxWidth]="170" headerClass="name" cellClass="name">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        {{i.NgayDuyetNghienCuu}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Số NCT" prop="SoNCT"></ngx-datatable-column>
                <ngx-datatable-column name="TG tiến hành theo nghiên cứu ban đầu" prop="ThoiGianTienHanh" [width]="300" headerClass="name" cellClass="name">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        {{i.ThoiGianTienHanh}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Cỡ mẫu" prop="CoMau"></ngx-datatable-column>
                <ngx-datatable-column name="Số ca thu thập hợp lệ" [width]="180" [maxWidth]="180" headerClass="name" cellClass="name" prop="SoCaThuThapHopLe"></ngx-datatable-column>
                <ngx-datatable-column name="Tiến độ thu nhận mẫu" prop="TienDoThuNhanMau"></ngx-datatable-column>
                <ngx-datatable-column name="Khó khăn" prop="KhoKhan"></ngx-datatable-column>
                <ngx-datatable-column name="Ngày báo cáo" prop="CreatedDate" [width]="150" [maxWidth]="150">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        {{i.NgayTaoText}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Người báo cáo" prop="CreatedBy" [width]="150"></ngx-datatable-column>
            </ngx-datatable>
        </ion-col>
    </ion-row>
</ion-content>