de-tai-modal {
    .header{
        .toolbar{
            .title {
                padding-right: 90px;
                @media (min-width: 480px){
                    padding-right: auto;
                }
            }
            .segment-button {
                max-width: 200px;
            }
        }
    }
    
}
