<ion-header>
    <ion-segment [(ngModel)]="tab" style="width: 700px;">
        <ion-segment-button value="1">
            Thông tin chung
        </ion-segment-button>
        <ion-segment-button value="2">
            Nghiên cứu viên khác
        </ion-segment-button>
    </ion-segment>
    <button class="close-btn" style="height: 25px; width: 25px; right: 5px;" ion-button clear icon-only large (click)="dismiss()">
        <ion-icon name="close" color="ivf1"></ion-icon>
    </button>
</ion-header>

<ion-content>
    <div [ngSwitch]="tab"  style="height: 100%">
        <div *ngSwitchCase="'1'">
            <form [formGroup]="formGroup">
                <div padding></div>
                <div class="c-control">
                    <label class="c-label" for="TenTiengViet">
                        Tên tiếng Việt
                        <span *ngIf="!formGroup.controls.TenTiengViet.valid && !formGroup.controls.TenTiengViet.pending && (formGroup.controls.TenTiengViet.dirty || submitAttempt)"
                              ion-text color="danger">(*)</span>
                    </label>
                    <input class="c-input" id="TenTiengViet" [(ngModel)]="item.TenTiengViet" formControlName="TenTiengViet" type="text">
                </div>

                <div class="c-control">
                    <label class="c-label" for="TenTiengAnh">
                        Tên tiếng Anh
                        <span *ngIf="!formGroup.controls.TenTiengAnh.valid && !formGroup.controls.TenTiengAnh.pending && (formGroup.controls.TenTiengAnh.dirty || submitAttempt)"
                              ion-text color="danger">(*)</span>
                    </label>
                    <input class="c-input" id="TenTiengAnh" [(ngModel)]="item.TenTiengAnh" formControlName="TenTiengAnh" type="text">
                </div>

                <div class="c-control">
                    <label class="c-label" for="IDChuNhiem">
                        Chủ nhiệm
                        <span *ngIf="!formGroup.controls.IDChuNhiem.valid && !formGroup.controls.IDChuNhiem.pending && (formGroup.controls.IDChuNhiem.dirty || submitAttempt)"
                              ion-text color="danger">(*)</span>
                    </label>

                    <select class="c-input c-dropdown" [(ngModel)]="item.IDChuNhiem" formControlName="IDChuNhiem">
                        <option *ngFor="let t of staffs" [value]="t.ID">{{t.Name}}</option>
                    </select>
                </div>

                <!--<div class="c-control">
                    <label class="c-label" for="Tags">
                        Tags
                    </label>
                    <mat-form-field>
                        <mat-select [(ngModel)]="item.Tags" [compareWith]="comparer" formControlName="Tags" multiple>
                            <mat-option *ngFor="let tag of lstTag" [value]="tag">{{tag.TenTag}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>-->

                <div class="c-control">
                    <label class="c-label" style="color: red;font-weight: normal;font-style: italic;">
                        Lưu ý: "Vui lòng hoàn tất Sơ yếu lý lịch và Lý lịch khoa học của NCV chính và CNĐT trước khi tạo đề tài NCKH"
                    </label>
                </div>

                <div class="c-control" *ngIf="item.ID==0">
                    <label class="c-label" for=""></label>
                    <button ion-button float-right (click)="saveChange()">
                        Thêm đề tài
                    </button>
                </div>
                <div class="c-control" *ngIf="item.ID!=0">
                    <label class="c-label" for=""></label>

                    <button ion-button float-right (click)="saveChange()" [disabled]="!formGroup.dirty">
                        Lưu
                    </button>
                    <button color="warning" ion-button float-right (click)="cancel()" [disabled]="!formGroup.dirty">
                        Hủy thay đổi
                    </button>
                </div>
            </form>
        </div>
        <div *ngSwitchCase="'2'" style="height: 100%">
            <div class="tools">
                <button color="primary" ion-button icon-only clear (click)="refreshNCV()">
                          <ion-icon name="refresh"></ion-icon>
                      </button>

                <button color="success" ion-button icon-only clear (click)="addNCV()">
                          <ion-icon name="ios-add-circle"></ion-icon>
                      </button>

                <span class="split" *ngIf="lstNCVSelected.length"></span>

                <button ion-button icon-only clear *ngIf="lstNCVSelected.length" (click)="openDetailNCV(lstNCVSelected[0])">
                    <ion-icon name="ios-create"></ion-icon>
                </button>
                <button color="danger" ion-button icon-only clear *ngIf="lstNCVSelected.length" (click)="deleteNCV()">
                    <ion-icon name="ios-trash"></ion-icon>
                </button>
            </div>
            <ion-row style="height: calc(100% - 53px)">
                <ion-col class="doc-main">
                    <ngx-datatable #table class="material" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable" [columnMode]="'force'" [headerHeight]="55" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="lstNCVKhac" [selected]="lstNCVSelected"
                        [selectionType]="'single'" (select)='onSelectNCV($event)'>

                        <ngx-datatable-column name="Họ tên" prop="TenNCV" [width]="150" [maxWidth]="150" headerClass="name" cellClass="name">
                            <ng-template let-i="row" ngx-datatable-cell-template>
                                <a (click)="openDetailNCV(i)">
                                    {{i.TenNCV}}
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Chức danh" prop="ChucDanh"></ngx-datatable-column>
                        <ngx-datatable-column name="Chức vụ" prop="ChucVu"></ngx-datatable-column>
                    </ngx-datatable>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>