<ion-header>
    <ion-segment [(ngModel)]="tab" style="width: 700px;">
        <ion-segment-button value="1">
            Thông tin chung
        </ion-segment-button>
        <ion-segment-button value="2">
            Nghiên cứu viên khác
        </ion-segment-button>
        <ion-segment-button value="3">
            Bệnh nhân
        </ion-segment-button>
    </ion-segment>
    <button class="close-btn" style="height: 25px; width: 25px; right: 5px;" ion-button clear icon-only large (click)="dismiss()">
        <ion-icon name="close" color="ivf1"></ion-icon>
    </button>
</ion-header>

<ion-content>
    <div [ngSwitch]="tab">
        <div *ngSwitchCase="'1'">
            <form [formGroup]="formGroup">
                <div padding></div>
                <div class="c-control">
                    <label class="c-label" for="MaSo">Mã số
                    <span
                        *ngIf="!formGroup.controls.MaSo.valid && !formGroup.controls.MaSo.pending && (formGroup.controls.MaSo.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                </label>
                    <input class="c-input" id="MaSo" [(ngModel)]="item.MaSo" formControlName="MaSo" type="text">
                </div>

                <div class="c-control">
                    <label class="c-label" for="DeTai">Tên đề tài
                    <span
                        *ngIf="!formGroup.controls.DeTai.valid && !formGroup.controls.DeTai.pending && (formGroup.controls.DeTai.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                </label>
                    <input class="c-input" id="DeTai" [(ngModel)]="item.DeTai" formControlName="DeTai" type="text">
                </div>

                <div class="c-control">
                    <label class="c-label" for="TenTiengViet">Tên tiếng Việt
                    <span
                        *ngIf="!formGroup.controls.TenTiengViet.valid && !formGroup.controls.TenTiengViet.pending && (formGroup.controls.TenTiengViet.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                </label>
                    <input class="c-input" id="TenTiengViet" [(ngModel)]="item.TenTiengViet" formControlName="TenTiengViet" type="text">
                </div>

                <div class="c-control">
                    <label class="c-label" for="TenTiengAnh">Tên tiếng Anh
                    <span
                        *ngIf="!formGroup.controls.TenTiengAnh.valid && !formGroup.controls.TenTiengAnh.pending && (formGroup.controls.TenTiengAnh.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                </label>
                    <input class="c-input" id="TenTiengAnh" [(ngModel)]="item.TenTiengAnh" formControlName="TenTiengAnh" type="text">
                </div>

                <div class="c-control">
                    <label class="c-label" for="SoNCT">Số NCT
                    <span
                        *ngIf="!formGroup.controls.SoNCT.valid && !formGroup.controls.SoNCT.pending && (formGroup.controls.SoNCT.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                </label>
                    <input class="c-input" id="SoNCT" [(ngModel)]="item.SoNCT" formControlName="SoNCT" type="text">
                </div>

                <div class="c-control">
                    <label class="c-label" for="IDChuNhiem">Chủ nhiệm
                    <span
                        *ngIf="!formGroup.controls.IDChuNhiem.valid && !formGroup.controls.IDChuNhiem.pending && (formGroup.controls.IDChuNhiem.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                </label>

                    <select class="c-input c-dropdown" [(ngModel)]="item.IDChuNhiem" formControlName="IDChuNhiem">
                    <option *ngFor="let t of staffs" [value]="t.ID">{{t.Name}}</option>
                </select>
                </div>

                <div class="c-control">
                    <label class="c-label" for="IDPhanLoaiDeTai">Loại đề tài
                    <span
                        *ngIf="!formGroup.controls.IDPhanLoaiDeTai.valid && !formGroup.controls.IDPhanLoaiDeTai.pending && (formGroup.controls.IDPhanLoaiDeTai.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                </label>

                    <select class="c-input c-dropdown" [(ngModel)]="item.IDPhanLoaiDeTai" formControlName="IDPhanLoaiDeTai">
                    <option *ngFor="let t of typeOfTopics" [value]="t.ID">{{t.ValueOfVar}}</option>
                </select>
                </div>

                <div class="c-control">
                    <label class="c-label" for="GhiChu">Mô tả
                    <span
                        *ngIf="!formGroup.controls.GhiChu.valid && !formGroup.controls.GhiChu.pending && (formGroup.controls.GhiChu.dirty || submitAttempt)"
                        ion-text color="danger">(*)</span>
                </label>
                    <textarea rows="3" class="c-input" id="GhiChu" [(ngModel)]="item.GhiChu" formControlName="GhiChu" type="textarea"></textarea>

                </div>

                <!--<div class="c-control">
                    <label class="c-label" for="GhiChu">Ngày
                        <span
                            *ngIf="!formGroup.controls.GhiChu.valid && !formGroup.controls.GhiChu.pending && (formGroup.controls.GhiChu.dirty || submitAttempt)"
                            ion-text color="danger">(*)</span>
                    </label>
                    <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="item.myDate" formControlName="myDate" class="c-input" style="width: calc(100% - 50px);">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </div>-->


                <div class="c-control" *ngIf="item.ID==0">
                    <label class="c-label" for=""></label>
                    <button ion-button float-right (click)="saveChange()">
                    Thêm đề tài
                </button>
                </div>
                <div class="c-control" *ngIf="item.ID!=0">
                    <label class="c-label" for=""></label>

                    <button ion-button float-right (click)="saveChange()" [disabled]="!formGroup.dirty">
                    Lưu
                </button>
                    <button color="warning" ion-button float-right (click)="cancel()" [disabled]="!formGroup.dirty">
                    Hủy thay đổi
                </button>
                </div>
            </form>
        </div>
        <div *ngSwitchCase="'2'">
            <div class="tools">
                <button color="primary" ion-button icon-only clear (click)="refreshNCV()">
                          <ion-icon name="refresh"></ion-icon>
                      </button>

                <button color="success" ion-button icon-only clear (click)="addNCV()">
                          <ion-icon name="ios-add-circle"></ion-icon>
                      </button>

                <span class="split" *ngIf="lstNCVSelected.length"></span>

                <button ion-button icon-only clear *ngIf="lstNCVSelected.length" (click)="openDetailNCV(lstNCVSelected[0])">
                    <ion-icon name="ios-create"></ion-icon>
                </button>
                <button color="danger" ion-button icon-only clear *ngIf="lstNCVSelected.length" (click)="deleteNCV()">
                    <ion-icon name="ios-trash"></ion-icon>
                </button>
            </div>
            <ion-row>
                <ion-col class="doc-main">
                    <ngx-datatable #table class="material" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable" [columnMode]="'force'" [headerHeight]="55" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="lstNCVKhac" [selected]="lstNCVSelected"
                        [selectionType]="'single'" (select)='onSelectNCV($event)'>

                        <ngx-datatable-column name="Họ tên" prop="TenNCV" [width]="150" [maxWidth]="150" headerClass="name" cellClass="name">
                            <ng-template let-i="row" ngx-datatable-cell-template>
                                <a (click)="openDetailNCV(i)">
                                    {{i.TenNCV}}
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Chức danh" prop="ChucDanh"></ngx-datatable-column>
                        <ngx-datatable-column name="Chức vụ" prop="ChucVu"></ngx-datatable-column>
                    </ngx-datatable>
                </ion-col>
            </ion-row>
        </div>
        <div *ngSwitchCase="'3'">
            <div class="tools">
                <button color="primary" ion-button icon-only clear (click)="refreshBN()">
                          <ion-icon name="refresh"></ion-icon>
                      </button>

                <button color="success" ion-button icon-only clear (click)="addBN(0)">
                          <ion-icon name="ios-search"></ion-icon>
                      </button>

                <button color="success" ion-button icon-only clear (click)="addBN(1)">
                        <ion-icon name="ios-add-circle"></ion-icon>
                    </button>
                <span class="split" *ngIf="lstBNSelected.length"></span>

                <button ion-button icon-only clear *ngIf="lstBNSelected.length" (click)="openDetailBN(lstBNSelected[0])">
                    <ion-icon name="ios-create"></ion-icon>
                </button>
                <button color="danger" ion-button icon-only clear *ngIf="lstBNSelected.length" (click)="deleteBN()">
                    <ion-icon name="ios-trash"></ion-icon>
                </button>
            </div>
            <ion-row>
                <ion-col class="doc-main">
                    <ngx-datatable class="material" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable" [columnMode]="'force'" [headerHeight]="55" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="lstBenhNhan" [selected]="lstBNSelected"
                        [selectionType]="'single'" (select)='onSelectBN($event)'>

                        <ngx-datatable-column name="Họ tên" prop="TenBenhNhan" [width]="150" [maxWidth]="150" headerClass="name" cellClass="name">
                            <ng-template let-i="row" ngx-datatable-cell-template>
                                <a (click)="openDetailBN(i)">
                                    {{i.TenBenhNhan}}
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>