<ion-header>
  <button class="close-btn" ion-button clear icon-only large (click)="dismiss()">
      <ion-icon name="close" color="ivf1"></ion-icon>
  </button>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
      <div padding></div>
      <div class="c-control">
          <label class="c-label" for="MaSo">Mã số
              <span *ngIf="!formGroup.controls.MaSo.valid && !formGroup.controls.MaSo.pending && (formGroup.controls.MaSo.dirty || submitAttempt)"
                  ion-text color="danger">(*)</span>
          </label>
          <input class="c-input" id="MaSo" [(ngModel)]="item.MaSo" formControlName="MaSo" type="text">
      </div>

      <div class="c-control">
          <label class="c-label" for="DeTai">Tên đề tài
              <span *ngIf="!formGroup.controls.DeTai.valid && !formGroup.controls.DeTai.pending && (formGroup.controls.DeTai.dirty || submitAttempt)"
                  ion-text color="danger">(*)</span>
          </label>
          <input class="c-input" id="DeTai" [(ngModel)]="item.DeTai" formControlName="DeTai" type="text">
      </div>

      <div class="c-control">
        <label class="c-label" for="TenTiengViet">Tên tiếng Việt
            <span *ngIf="!formGroup.controls.TenTiengViet.valid && !formGroup.controls.TenTiengViet.pending && (formGroup.controls.TenTiengViet.dirty || submitAttempt)"
                ion-text color="danger">(*)</span>
        </label>
        <input class="c-input" id="TenTiengViet" [(ngModel)]="item.TenTiengViet" formControlName="TenTiengViet" type="text">
      </div>

      <div class="c-control">
        <label class="c-label" for="TenTiengAnh">Tên tiếng Anh
            <span *ngIf="!formGroup.controls.TenTiengAnh.valid && !formGroup.controls.TenTiengAnh.pending && (formGroup.controls.TenTiengAnh.dirty || submitAttempt)"
                ion-text color="danger">(*)</span>
        </label>
        <input class="c-input" id="TenTiengAnh" [(ngModel)]="item.TenTiengAnh" formControlName="TenTiengAnh" type="text">
      </div>

      <div class="c-control">
        <label class="c-label" for="SoNCT">Số NCT
            <span *ngIf="!formGroup.controls.SoNCT.valid && !formGroup.controls.SoNCT.pending && (formGroup.controls.SoNCT.dirty || submitAttempt)"
                ion-text color="danger">(*)</span>
        </label>
        <input class="c-input" id="SoNCT" [(ngModel)]="item.SoNCT" formControlName="SoNCT" type="text">
      </div>

      <div class="c-control">
          <label class="c-label" for="GhiChu">Mô tả
              <span *ngIf="!formGroup.controls.GhiChu.valid && !formGroup.controls.GhiChu.pending && (formGroup.controls.GhiChu.dirty || submitAttempt)"
                  ion-text color="danger">(*)</span>
          </label>
          <textarea rows="3" class="c-input" id="GhiChu" [(ngModel)]="item.GhiChu" formControlName="GhiChu" type="textarea"></textarea>

      </div>

      <div class="c-control" *ngIf="item.ID==0">
          <label class="c-label" for=""></label>
          <button ion-button float-right (click)="saveChange()">
              Thêm đề tài
          </button>
      </div>
      <div class="c-control" *ngIf="item.ID!=0">
          <label class="c-label" for=""></label>

          <button ion-button float-right (click)="saveChange()" [disabled]="!formGroup.dirty">
              Lưu
          </button>
          <button color="warning" ion-button float-right (click)="cancel()" [disabled]="!formGroup.dirty">
              Hủy thay đổi
          </button>
      </div>
  </form>
</ion-content>