<ion-header *ngIf="userprofile" shrink-header default-height="120">
    <ion-row>
        <ion-col class="web-content">
            <a (click)="openDefaultPage()" class="logo" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.LogoURL? userprofile.Partner.LogoURL : './assets/imgs/avartar-empty.jpg') + ')'}"></a>
            <a class="menu-logo" (click)="showSmallMenu($event)">
                <ion-icon name="ios-menu"></ion-icon>
            </a>
            <img class="hide-logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            <div class="web-menu-container">
                <div class="web-menu">
                    <a class="menu-item" ngClass="{{i.ID == 'loading' ? 'loading-background' : i.Code == 'SOPs'? 'sops': ''}}" [href]="i.URL" *ngFor="let i of menuList">
                        {{i.Code}}
                        <small *ngIf="i.Code != 'SOPs'">{{i.Name}}</small>
                    </a>
                </div>
            </div>
        </ion-col>
        
        <div id="cp" class="web" *ngIf="userprofile.Id != ''">
            <!-- <button color="ivfdark3" ion-button clear large icon-left>
                <ion-icon name="fa-bell"></ion-icon>
                <ion-badge color="warning" item-right>8</ion-badge>
            </button>

            <div class="splitor">|</div> -->

            <a class="username" (click)="popover($event, popoverCtrl);">
                {{userprofile.UserName}}
            </a>
            <a class="avatar" (click)="popover($event, popoverCtrl);">
                <img [src]="avatarURL" (error)="img.src = 'assets/imgs/avartar-empty.jpg'"
                    #img>
            </a>
        </div>
    </ion-row>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="center-row">
            <ion-col col-md-4 *ngFor="let i of ListMenu">
                <ion-card color="white" no-margin class="news">
                    <ion-card-content>
                        <ion-card-title>
                            <a>{{i.Name}}</a>
                        </ion-card-title>
                        <div padding></div>
                        <button ion-button block
                                (click)="gotoPage(i)">
                            ĐI ĐẾN
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col col-md-4>
                <ion-card color="white" no-margin class="news">
                    <ion-card-content>
                        <ion-card-title>
                            <a>Thu thập số liệu nghiên cứu</a>
                        </ion-card-title>
                        <div padding></div>
                        <button ion-button block
                                (click)="gotoPageRefer(i)">
                            ĐI ĐẾN
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <ion-row>
        <ion-col class="web-content" *ngIf="items.length">

            <div class="cate-title">
                TIN MỚI CẬP NHẬT
            </div>

            <ion-row>
                <ion-col col-12 col-md-6 *ngFor="let i of items | slice:0:2;">
                    <div class="news-item">
                        <a class="thumb" [href]="i.URL" [ngStyle]="{'background-image': 'url(' + (i.ThumbnailImage?.indexOf('http')==0? i.ThumbnailImage : imageServer + i.ThumbnailImage)  + ')'}"></a>
                        <a class="title" [href]="i.URL">{{i.Name}}</a>
                        <span class="summary">
                            {{i.Remark}}
                        </span>
                        <div class="news-info">
                            <span class="author">
                                <ion-icon name="ios-contact"></ion-icon>
                                {{i.CreatedBy}}
                            </span>
                            <span class="date-time">
                                <ion-icon name="ios-time"></ion-icon>
                                {{i.ModifiedDateText}}
                            </span>
                        </div>

                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <a *ngFor="let i of items | slice:2:3;" [href]="i.URL" class="banner" [ngStyle]="{'background-image': i.AlternateImage? ('url(' + (i.AlternateImage?.indexOf('http')==0? i.AlternateImage : imageServer + i.AlternateImage)  + ')') : ('url(' + (i.ThumbnailImage?.indexOf('http')==0? i.ThumbnailImage : imageServer + i.ThumbnailImage)  + ')')}"></a>
                </ion-col>
            </ion-row>

            <ion-row >
                <ion-col col-12 col-md-6 *ngFor="let i of items | slice:3:9999;">
                    <div class="news-item">
                        <a class="thumb" [href]="i.URL" [ngStyle]="{'background-image': 'url(' + (i.ThumbnailImage?.indexOf('http')==0? i.ThumbnailImage : imageServer + i.ThumbnailImage)  + ')'}"></a>
                        <a class="title" [href]="i.URL">{{i.Name}}</a>
                        <span class="summary">
                            {{i.Remark}}
                        </span>
                        <div class="news-info">
                            <span class="author">
                                <ion-icon name="ios-contact"></ion-icon>
                                {{i.CreatedBy}}
                            </span>
                            <span class="date-time">
                                <ion-icon name="ios-time"></ion-icon>
                                {{i.ModifiedDateText}}
                            </span>
                        </div>

                    </div>
                </ion-col>
            </ion-row>

        </ion-col>
       
    </ion-row>
    <div class="web-footer">
        <div class="links">

            <!-- <a>
                <ion-icon name="fa-twitter"></ion-icon>
            </a> -->
            <a href="https://www.facebook.com/benh.vien.my.duc/" target="_blank">
                <ion-icon name="fa-facebook-f"></ion-icon>
            </a>

            <a href="https://www.facebook.com/benh.vien.my.duc.tan.binh/" target="_blank">
                <ion-icon name="fa-facebook-f"></ion-icon>
            </a>

            <a href="https://www.youtube.com/channel/UCEXXDdUt5h1maXGhd_0mm_g" target="_blank">
                <ion-icon name="fa-youtube"></ion-icon>
            </a>
        </div>
        <ion-row>
            <ion-col col-12 col-md-6 col-lg-4 col-ll-3>
                <h2>
                    BỆNH VIỆN MỸ ĐỨC
                </h2>
                <span>
                    <a href="https://www.google.com/maps/dir/?api=1&destination=My+Duc+Hospital,+4+Đường+Núi+Thành,+Phường+13,+Tân+Bình,+Hồ+Chí+Minh"
                        target="_blank">
                        <ion-icon name="fa-map-marker"></ion-icon> 04 Núi Thành, P. 13, Q. Tân Bình, TP. HCM</a>
                    <br>
                    <a href="tel:(028) 7308 5885">
                        <ion-icon name="fa-phone"></ion-icon> (028) 7308 5885</a>
                    <br>
                    <a href="mailto:info@myduchospital.vn">
                        <ion-icon name="fa-envelope"></ion-icon> info@myduchospital.vn</a>
                </span>
            </ion-col>
            <ion-col col-12 col-md-6 col-lg-4 col-ll-3>
                <h2>
                    BỆNH VIỆN MỸ ĐỨC PHÚ NHUẬN
                </h2>
                <span>
                    <a href="https://www.google.com/maps/dir/?api=1&destination=Bệnh+viện+Mỹ+Đức+Phú+Nhuận,+43R%2F2+-+4+phường+9,+quận+Phú+Nhuận,+Hồ+Văn+Huê,+Thành+phố+Hồ+Chí+Minh"
                        target="_blank">
                        <ion-icon name="fa-map-marker"></ion-icon> 43R/2-4 Hồ Văn Huê, P. 9, Q. Phú Nhuận</a>
                    <br>
                    <a href="tel:(028) 6285 6262">
                        <ion-icon name="fa-phone"></ion-icon> (028) 6285 6262</a>
                    <br>
                    <a href="mailto:info@myducphunhuan.vn">
                        <ion-icon name="fa-envelope"></ion-icon> info@myducphunhuan.vn</a>
                </span>
            </ion-col>
            <ion-col col-12 col-md-12 col-lg-4 col-ll-6>

                <h2>

                </h2>
                <span>

                    <br>Cổng thông tin - Thư viện điện tử
                    <br>Copyright © 2018 BỆNH VIỆN MỸ ĐỨC
                </span>
            </ion-col>
        </ion-row>
    </div>
</ion-content>