<page-login class="ion-page show-page" style="z-index: 92;">
    <ion-content class="content content-ios" style="">
        <div class="fixed-content"></div><div class="scroll-content">
            <div id="login-page">
                <div class="col-left">
                    <div class="header">
                        <h1>ĐỔI MẬT KHẨU</h1>
                    </div>
                    <div class="form">

                        <p>
                            <a> Cảm ơn bạn đã xác nhận email </a>
                            <br>Mời bạn click vào đây để đăng nhập
                        </p>

                        <div padding="" style="padding-top:0">
                            <a href="/#/forgot-password" block="" color="warning" ion-button="" class="button button-ios button-default button-default-ios button-block button-block-ios button-ios-warning"><span class="button-inner">Quên mật khẩu</span><div class="button-effect"></div></a>
                            <a href="/" clear="" float-right="" ion-button="" small="" ng-reflect-small="" ng-reflect-clear="" class="button button-ios button-clear button-clear-ios button-small button-small-ios">
                                <span class="button-inner">
                                    Về trang chủ
                                </span><div class="button-effect"></div>
                            </a>
                        </div>

                    </div>
                    <div class="footer">

                    </div>
                </div>
                <div class="col-right">
                    <div class="logos">
                        <img src="/assets/imgs/BVMD.png">
                        <img src="/assets/imgs/IVFMD.png">
                    </div>

                    <h1></h1>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </ion-content>
</page-login>










<page-login class="ion-page show-page" style="z-index: 100;">
    <div id="login-page">
        <div class="container">
            <div class="row">

                <div class="box">
                    <ion-list class="list list-md">
                        <img src="http://hyec.demo.codeart.vn/assets/imgs/logo.png" title="Hải Yến Eye care system">
                        
                        <p>Cảm ơn bạn đã xác nhận email. <br>Mời bạn click vào đây để đăng nhập</p>

                        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                            <ion-item class="item item-block item-md item-input item-label-floating ng-untouched ng-pristine ng-valid input-has-value item-input-has-value">
                                <div class="item-inner">
                                    <div class="input-wrapper">
                                        <ion-label floating="" class="label label-md" id="lbl-8">
                                            Email hoặc số điện thoại

                                        </ion-label><ion-input formcontrolname="UserName" type="text" class="input input-md ng-untouched ng-pristine ng-valid"><input class="text-input text-input-md" dir="auto" type="text" aria-labelledby="lbl-8" autocomplete="off" autocorrect="off" placeholder="" formcontrolname="UserName"></ion-input>
                                    </div>
                                </div><div class="button-effect"></div>
                            </ion-item>
                            <button block="" ion-button="" style="display: none" type="submit" ng-reflect-block="" class="button button-md button-default button-default-md button-block button-block-md"><span class="button-inner">Add Todo</span><div class="button-effect"></div></button>
                        </form>
                        <ion-item class="item item-block item-md" no-lines="">
                            <div class="item-inner">
                                <div class="input-wrapper">
                                    <ion-label class="label label-md">
                                        <button clear="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md">
                                            <span class="button-inner">
                                                Quên mật khẩu?
                                            </span><div class="button-effect"></div>
                                        </button>
                                    </ion-label>
                                </div>
                            </div><div class="button-effect"></div>
                        </ion-item>
                        <div padding="" style="padding-top:0">
                            <button block="" color="warning" ion-button="" class="button button-md button-default button-default-md button-block button-block-md button-md-warning"><span class="button-inner">Đăng nhập</span><div class="button-effect"></div></button>
                            <p class="divider">hoặc</p>
                            <button block="" color="facebook" ion-button="" class="button button-md button-default button-default-md button-block button-block-md button-md-facebook"><span class="button-inner">Đăng nhập bằng Facebook</span><div class="button-effect"></div></button>
                            <button clear="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md"><span class="button-inner">Chưa có tài khoản? Xin vui lòng đăng ký</span><div class="button-effect"></div></button>.
                        </div>


                    </ion-list>
                </div>


            </div>
        </div>
    </div>


</page-login>
