.flaticon-StrokeStyle:before {
	content: "\e700";
}
.flaticon-Bookmark:before {
	content: "\e701";
}
.flaticon-Picture:before {
	content: "\e702";
}
.flaticon-Find:before {
	content: "\e703";
}
.flaticon-OutsideBorder:before {
	content: "\e704";
}
.flaticon-Justify:before {
	content: "\e705";
}
.flaticon-Close:before {
	content: "\e706";
}
.flaticon-DecreaseIndent:before {
	content: "\e707";
}
.flaticon-PixelAlignCenterTable:before {
	content: "\e708";
}
.flaticon-BackgroundColor:before {
	content: "\e709";
}
.flaticon-AlignBottom:before {
	content: "\e70a";
}
.flaticon-PageSetup:before {
	content: "\e70b";
}
.flaticon-HighlightColor:before {
	content: "\e70c";
}
.flaticon-Superscript:before {
	content: "\e70d";
}
.flaticon-Table:before {
	content: "\e70e";
}
.flaticon-Undo:before {
	content: "\e70f";
}
.flaticon-InsertBelow:before {
	content: "\e710";
}
.flaticon-TopBorder:before {
	content: "\e711";
}
.flaticon-PageNumber:before {
	content: "\e712";
}
.flaticon-AlignCenterTable:before {
	content: "\e713";
}
.flaticon-IncreaseIndent:before {
	content: "\e714";
}
.flaticon-Bold:before {
	content: "\e715";
}
.flaticon-AlignLeft:before {
	content: "\e716";
}
.flaticon-Footer:before {
	content: "\e717";
}
.flaticon-InsertRight:before {
	content: "\e718";
}
.flaticon-Underline:before {
	content: "\e719";
}
.flaticon-InsertLeft:before {
	content: "\e71a";
}
.flaticon-Lock:before {
	content: "\e71b";
}
.flaticon-Header:before {
	content: "\e71c";
}
.flaticon-Strikethrough:before {
	content: "\e71d";
}
.flaticon-ClearAll:before {
	content: "\e71e";
}
.flaticon-RightBorder:before {
	content: "\e71f";
}
.flaticon-AlignRight:before {
	content: "\e720";
}
.flaticon-Open:before {
	content: "\e721";
}
.flaticon-StrokeSize:before {
	content: "\e722";
}
.flaticon-Print:before {
	content: "\e723";
}
.flaticon-DeleteTable:before {
	content: "\e724";
}
.flaticon-FontColor:before {
	content: "\e725";
}
.flaticon-InsideBorders:before {
	content: "\e726";
}
.flaticon-DeleteRows:before {
	content: "\e727";
}
.flaticon-Download:before {
	content: "\e728";
}
.flaticon-LineSpacing:before {
	content: "\e729";
}
.flaticon-InsideVerticalBorder:before {
	content: "\e72a";
}
.flaticon-AlignTOp:before {
	content: "\e72b";
}
.flaticon-Redo:before {
	content: "\e72c";
}
.flaticon-BottomBorder:before {
	content: "\e72d";
}
.flaticon-New:before {
	content: "\e72e";
}
.flaticon-Paste:before {
	content: "\e72f";
}
.flaticon-Bullets:before {
	content: "\e730";
}
.flaticon-Cell:before {
	content: "\e731";
}
.flaticon-DeleteColumns:before {
	content: "\e732";
}
.flaticon-AllBorders:before {
	content: "\e733";
}
.flaticon-Subscript:before {
	content: "\e734";
}
.flaticon-ShowHideProperty:before {
	content: "\e735";
}
.flaticon-TableOfContent:before {
	content: "\e736";
}
.flaticon-Italic:before {
	content: "\e737";
}
.flaticon-InsideHorizondalborder:before {
	content: "\e738";
}
.flaticon-LeftBorders:before {
	content: "\e739";
}
.flaticon-Numbering:before {
	content: "\e73a";
}
.flaticon-Link:before {
	content: "\e73b";
}
.flaticon-AlignCenter:before {
	content: "\e73c";
}
.flaticon-InsertAbove:before {
	content: "\e73d";
}
