<html lang="en" dir="ltr" class="gr__hyec_demo_codeart_vn">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">


    <meta name="theme-color" content="#4e8ef7">
    <link href="/build/main.css" rel="stylesheet">
</head>

<body class="show-menu-on-large-screen vsc-initialized" data-gr-c-s-loaded="true">

    <ion-app class="app-root app-root-ios ios platform-core enable-hover" ng-version="5.0.3">
        <div app-viewport=""></div><ng-component class="app-root">
            <ion-nav swipebackenabled="false" class="menu-content menu-content-overlay">
                <div nav-viewport=""></div>
                @RenderBody()

                <div class="nav-decor"></div>
            </ion-nav>
        </ng-component><div overlay-portal=""></div><div overlay-portal=""></div><div class="loading-portal" overlay-portal=""></div><div class="toast-portal"></div><div class="click-block click-block-enabled"></div>
    </ion-app>

@Html.EJS().ScriptManager()
</body>
</html>




<p>&copy; @DateTime.Now.Year</p>