.nckh-form-template {
  background-color: #fff;
  margin: auto;
  padding: 0 1in;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13pt;
  box-shadow: none; }
  .nckh-form-template.font-size-14, .nckh-form-template .font-size-14 {
    font-size: 14pt; }
  .nckh-form-template.font-size-13, .nckh-form-template .font-size-13 {
    font-size: 13pt; }
  .nckh-form-template.font-size-12, .nckh-form-template .font-size-12 {
    font-size: 12pt; }
  .nckh-form-template.font-size-11, .nckh-form-template .font-size-11 {
    font-size: 11pt; }
  .nckh-form-template.font-size-10, .nckh-form-template .font-size-10 {
    font-size: 10pt; }
  .nckh-form-template.no-header-footer {
    padding-top: 1in;
    padding-bottom: 1in; }
  .nckh-form-template .page-header, .nckh-form-template .page-header-space {
    height: 1in; }
  .nckh-form-template .page-footer, .nckh-form-template .page-footer-space {
    height: 1in; }
  .nckh-form-template .page-footer {
    bottom: 0;
    width: 100%;
    background: #fff; }
    .nckh-form-template .page-footer .print-hidden {
      display: none; }
  .nckh-form-template .page-header {
    top: 0mm;
    width: 100%;
    background: #fff; }
  .nckh-form-template .page {
    position: relative;
    min-height: 9.6in;
    page-break-after: always; }
    .nckh-form-template .page:last-child {
      page-break-after: avoid; }
    .nckh-form-template .page.cover-page {
      min-height: 9.6in; }
  .nckh-form-template .page-break {
    display: none !important; }
  .nckh-form-template .inline {
    display: inline-block;
    width: 100%; }
  .nckh-form-template .text-center {
    text-align: center; }
  .nckh-form-template .text-justify {
    text-align: justify; }
  .nckh-form-template .text-right {
    text-align: right; }
  .nckh-form-template .text-bold {
    font-weight: bold; }
  .nckh-form-template .text-italic {
    font-style: italic; }
  .nckh-form-template .tab-1 {
    margin-left: 1em; }
  .nckh-form-template .tab-2 {
    margin-left: 2em; }
  .nckh-form-template .block {
    margin-top: 7px;
    margin-bottom: 7px; }
  .nckh-form-template .pblock {
    margin-top: 5px;
    margin-bottom: 5px; }
  .nckh-form-template .prow:hover {
    box-shadow: none; }
  .nckh-form-template .cell-inline .input-inline {
    display: inline-block; }
  .nckh-form-template .box-inline {
    display: table;
    width: 100%;
    min-height: 26px;
    margin: 0 0 3px 0; }
    .nckh-form-template .box-inline > * {
      display: inline-block;
      vertical-align: middle;
      padding: 0; }
    .nckh-form-template .box-inline.tab-1 {
      margin-left: 1em;
      width: calc(100% - 1em) !important; }
    .nckh-form-template .box-inline.tab-2 {
      margin-left: 2em;
      width: calc(100% - 2em) !important; }
    .nckh-form-template .box-inline .box {
      margin: 0; }
  .nckh-form-template .box {
    display: table;
    width: 100%;
    min-height: 26px;
    margin: 0 0 3px 0; }
    .nckh-form-template .box .box-title {
      position: absolute; }
    .nckh-form-template .box > input[type="checkbox"] {
      vertical-align: initial; }
    .nckh-form-template .box > * {
      display: table-cell;
      vertical-align: text-top;
      padding: 3px; }
    .nckh-form-template .box.tab-1 {
      margin-left: 1em;
      width: calc(100% - 1em) !important; }
    .nckh-form-template .box.tab-2 {
      margin-left: 2em;
      width: calc(100% - 2em) !important; }
    .nckh-form-template .box [contenteditable="true"]:hover, .nckh-form-template .box [contenteditable="true"]:focus {
      outline: none; }
  .nckh-form-template table.nckh-table {
    border-collapse: collapse;
    font-size: inherit; }
    .nckh-form-template table.nckh-table thead {
      display: table-row-group; }
      .nckh-form-template table.nckh-table thead tr {
        page-break-inside: avoid;
        page-break-before: auto; }
        .nckh-form-template table.nckh-table thead tr.table-header {
          text-align: center;
          vertical-align: middle;
          font-weight: 600; }
          .nckh-form-template table.nckh-table thead tr.table-header i {
            font-weight: normal; }
        .nckh-form-template table.nckh-table thead tr td, .nckh-form-template table.nckh-table thead tr th {
          padding: 3px;
          page-break-inside: avoid;
          page-break-before: auto;
          vertical-align: middle; }
    .nckh-form-template table.nckh-table tbody {
      width: 100%; }
      .nckh-form-template table.nckh-table tbody tr {
        page-break-inside: avoid;
        page-break-before: auto; }
        .nckh-form-template table.nckh-table tbody tr[summary="true"] td {
          font-weight: 600;
          text-align: center; }
        .nckh-form-template table.nckh-table tbody tr td {
          padding: 3px;
          word-break: break-word;
          page-break-inside: avoid;
          page-break-before: auto;
          vertical-align: top; }
          .nckh-form-template table.nckh-table tbody tr td[contenteditable="true"] {
            padding: 6px; }
          .nckh-form-template table.nckh-table tbody tr td[contenteditable="false"] {
            height: 26px; }
    .nckh-form-template table.nckh-table.td-padding-0 tbody tr > td {
      padding: 0; }
    .nckh-form-template table.nckh-table.table-inside-table {
      border: 0; }
      .nckh-form-template table.nckh-table.table-inside-table tr > td {
        border: 1px solid #607d8b;
        border-bottom: 0; }
        .nckh-form-template table.nckh-table.table-inside-table tr > td:first-child {
          border-left: 0; }
        .nckh-form-template table.nckh-table.table-inside-table tr > td:last-child {
          border-right: 0; }
  .nckh-form-template .group_controls {
    display: none; }
