nhan-su-llkh-modal {
    .inline {
        display: inline-block;
        width: 100%;
    }
    .text-center {
        text-align: center;
    }
    .text-justify {
        text-align: justify;
    }
    .text-right {
        text-align: right;
    }
    .text-bold {
        font-weight: bold;
    }
    .box {
        display: table;
        width: 100%;
        margin: 0;
        .box-title {
            position: absolute;
        }
        * {
            display: table-cell;
            vertical-align: top;
            padding: 3px;
        }
        [contenteditable="true"]:hover {
            outline: 1px dashed #44a9eb;
        }
        [contenteditable="true"]:focus {
            outline: 1px dashed #44a9eb;
        }
    }
    .tab-1 {
        margin-left: 1em;
    }
    table {
        border-collapse: collapse;
        tr {
            page-break-inside: avoid;
            page-break-before: auto;
        }
        .table-header {
            td {
                text-align: center;
                vertical-align: middle;
                font-weight: 600;
            }
            i {
                font-weight: normal;
            }
        }
    }
}