<ion-header>
    <div class="">
        <button color="primary" ion-button icon-only clear (click)="refreshBN()">
            <ion-icon name="refresh"></ion-icon>
        </button>

        <button color="success" ion-button icon-only clear (click)="addBN(0)">
            <ion-icon name="ios-search"></ion-icon>
        </button>
        <button color="success" ion-button icon-only clear (click)="addBN(1)">
            <ion-icon name="ios-add-circle"></ion-icon>
        </button>

        <span class="split" *ngIf="lstBNSelected.length"></span>

        <button ion-button icon-only clear *ngIf="lstBNSelected.length" (click)="openDetailBN(lstBNSelected[0])">
            <ion-icon name="ios-create"></ion-icon>
        </button>
        <button color="danger" ion-button icon-only clear *ngIf="lstBNSelected.length" (click)="deleteBN()">
            <ion-icon name="ios-trash"></ion-icon>
        </button>
    </div>
    <button class="close-btn" style="height: 25px; width: 25px; right: 5px;" ion-button clear icon-only large
        (click)="dismiss()">
        <ion-icon name="close" color="ivf1"></ion-icon>
    </button>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col class="doc-main">
            <ngx-datatable #table class="material" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable"
                           [columnMode]="'force'" [headerHeight]="55" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true"
                           [scrollbarH]="true" [rows]="lstBenhNhan" [selected]="lstBNSelected" [selectionType]="'single'"
                           (select)='onSelectBN($event)'>

                <ngx-datatable-column name="Mã số đối tượng" prop="MaBenhNhan" [width]="250" [maxWidth]="250" headerClass="name"
                                      cellClass="name">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        <a (click)="openDetailBN(i)">
                            {{i.MaBenhNhan}}
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Giới tính" prop="GioiTinh"></ngx-datatable-column> 

            </ngx-datatable>
        </ion-col>
    </ion-row>
</ion-content>