<ion-header>
  <button class="close-btn" ion-button clear icon-only large (click)="dismiss()">
    <ion-icon name="close" color="ivf1"></ion-icon>
  </button>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <div padding></div>
    <div class="c-control">
      <label class="c-label" for="IDBenhNhan">Bệnh nhân
        <span
          *ngIf="!formGroup.controls.IDBenhNhan.valid && !formGroup.controls.IDBenhNhan.pending && (formGroup.controls.IDBenhNhan.dirty || submitAttempt)"
          ion-text color="danger">(*)</span>
      </label>

      <select class="c-input c-dropdown" [(ngModel)]="idBenhNhan" formControlName="IDBenhNhan">
        <option *ngFor="let t of benhNhans" [value]="t.IDBenhNhan">{{t.MaBenhNhan}}</option>
      </select>
    </div>

    <div class="c-control">
      <label class="c-label" for=""></label>

      <button ion-button float-right (click)="selectBN()" [disabled]="!formGroup.dirty">
        Chọn
      </button>
    </div>
  </form>
</ion-content>