page-de-tai-detail {
    @import '../../../theme/grid.scss';
    .head-bg {
        background-color: #007DC5;
        .head-title {
            text-transform: uppercase;
            font-weight: normal;
            .toolbar-title {
                color: white !important;
                white-space: normal;
                padding: 16px;
                font-size: 16px;
                font-weight: 400;
                text-transform: none;
                text-align: left;
            }
        }
        @media(min-width: map-get($grid, md)) {
            padding-top: 0;
            position: absolute;
            top: 0;
            right: auto;
            bottom: 0;
            left: 0;
            width: 270px;
            background-size: cover;
            .emptyzone {
                display: block !important;
            }
            .back-holder {
                //margin-top: -49px;
            }
            .head-title {
                //display: none;
            }
        }
    }
    ion-content {
        .scroll-content {
            margin-top: 0px !important;
        }
    }
    .fake-header-bg {
        height: 145px;
        background-position: 0px -173px;
        @media(min-width: map-get($grid, md)) {
            display: none;
        }
    }
    ion-slides.marginLeft {
        @media(min-width: map-get($grid, md)) {
            margin-left: 270px;
        }
    }
    ion-slide {
        width: 100% !important;
    }
    .swiper-container {
        width: calc(100% - 270px)!important;
        margin: 0;

        background-color: #fff;
        background-image: url(./../assets/imgs/login-bg.png);
        background-position: bottom right;
        background-repeat: repeat-y;
        background-size: calc(100% - 000px);
        
    }
    .swiper-slide {
        text-align: left;
    }
    .swiper-pagination {
        display: block;
        width: 100%;
        bottom: auto !important;
        margin-top: 12px;
        @media(min-width: map-get($grid, md)) {
            //margin-top: calc(3vh + 70px);
            padding-left: 16px;
            // @media(min-height: 400px) {
            //     margin-top: 15vh;
            //     padding-left: 16px;
            // }
        }
        .swiper-pagination-bullet {
            margin: 0 7px;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 26px;
            font-size: 16px;
            font-weight: bold;
            color: #007DC5;
            opacity: 1;
            background: #EAFBFF;
            border: solid 3px #EAFBFF;
            cursor: pointer;
            @media(min-width: map-get($grid, md)) {
                display: block;
                margin-bottom: 20px;
            }
            &:before {
                content: '';
                height: 3px;
                width: 35px;
                display: inline-block;
                background: #ebfafe;
                position: absolute;
                margin-top: 12px;
                z-index: -1;
                @media(min-width: map-get($grid, md)) {
                    height: 50px;
                    width: 3px;
                    margin-left: 3px;
                }
            }
            &:last-child {
                &:before {
                    display: none;
                }
            }
            .title {
                display: none;
                @media(min-width: map-get($grid, md)) {
                    display: inline-block;
                    position: absolute;
                    margin-left: 22px;
                    color: #fff;
                    font-weight: normal;
                    font-size: 14px;
                }
            }
        }
        .swiper-pagination-bullet-active {
            border: solid 3px #FFB100;
            color: #FFB100;
            .title {
                @media(min-width: map-get($grid, md)) {
                    font-weight: bold;
                    color: #FFB100;
                }
            }
        }
    }

    .col{
        overflow: visible !important;
    }

    .center-row {
        @media(min-width: 992px) {
            align-items: center;
            justify-content: center;
        }
    }
    .page-1{
        min-height: 100vh;
        ion-card {
            width: 100%;
            box-shadow: 0 4px 16px rgba(0,0,0,.12);
            border-radius: 8px;
            padding: 16px !important;

            .thumb {
                height: 170px;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                &.bs {
                    background-position: top;
                    height: 250px;
                }
            }
            ion-card-title {
                font-size: 16px;
                line-height: 30px;
                padding: 0px;
            }
            .summary {
                font-size: 13px;
                line-height: 20px;
                height: 60px;
            }
            button {
                background-color: #007DC5;
                border-radius: 8px;
            }
        }
    }
    
    .back-btn {
        background-color: #feb40c;
        border-radius: 0 100px 100px 0;
        min-width: 75px !important;
        height: 32px;
        margin-left: -4px !important;
        color: white !important;
        font-size: 16px;
    }
    .header-button {
        padding: 0 20px;
    }
}