<ion-header no-border class="head-bg">

    <ion-buttons start>
        <button ion-button icon-only class="back-btn" (click)="goBack()"><ion-icon name="arrow-round-back"></ion-icon></button>
    </ion-buttons>
    <ion-title class="head-title" color="light">{{item.TenTiengViet}}</ion-title>
    <div class="emptyzone" style="height:300px">
        <div class="swiper-pagination">
            <span class="swiper-pagination-bullet" [ngClass]="{'swiper-pagination-bullet-active': pageIndex==i.index}" (click)="goToStep(i.index)" *ngFor="let i of slideListByType">{{i.index + 1}} <span
                        class="title">{{i.shortTitle}}</span></span>

        </div>
    </div>
    <div class="emptyzone header-button">
        <button *ngIf="pageIndex==0" [disabled]="item.IDTrangThai_HRCO > 18" ion-button block color="light" (click)="updateSatus('SendHRCO')">{{ statusHRCO }}</button>
        <button *ngIf="pageIndex==0 && item.IDTrangThai_HRCO == 19" ion-button block color="light" (click)="updateSatus('ApprovedHRCO')">Duyệt HRCO</button>


        <button *ngIf="pageIndex==1" [disabled]="item.IDTrangThai_HDDD > 6" ion-button block color="light" (click)="updateSatus('SendHDDD')">{{ statusHDDD }}</button>
        <button *ngIf="pageIndex==1 && item.IDTrangThai_HDDD == 7" ion-button block color="light" (click)="updateSatus('ApprovedHDDD')">Duyệt HDDD</button>

        <button *ngIf="pageIndex==1" [disabled]="item.IDTrangThai_HDKH > 12" ion-button block color="light" (click)="updateSatus('SendHDKH')">{{ statusHDKH }}</button>
        <button *ngIf="pageIndex==1 && item.IDTrangThai_HDKH == 13" ion-button block color="light" (click)="updateSatus('ApprovedHDKH')">Duyệt HDKH</button>

    </div>
</ion-header>
<ion-content>
    <ion-slides class="marginLeft" pager="false" slidesPerView="1" [options]="slideOpts" (ionSlideDidChange)="slideChanged()" #pages>
        <ion-slide class="page-1">

            <!-- Hội đồng nội bộ -->
            <ion-grid>
                <ion-row class="center-row">
                    <ion-col col-md-4 *ngFor="let i of listForm1">
                        <ion-card color="white" no-margin class="news">
                            <ion-card-content>
                                <ion-card-title>
                                    <a>{{i.Name}}</a>
                                </ion-card-title>
                                <p class="summary">
                                    {{i.Description}}
                                </p>
                                <div padding></div>
                                <button *ngIf="i.TrangThaiCode === 'Update'" ion-button block (click)="openDetailModal(i.Index)">CẬP NHẬT</button>
                                <button *ngIf="i.TrangThaiCode === 'New'" ion-button block (click)="openDetailModal(i.Index)">TẠO MỚI</button>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <!-- Hội đồng Đạo đức, Hội đồng Khoa học -->
        <ion-slide class="page-2">
            <ion-grid>
                <ion-row class="center-row">
                    <ion-col col-md-4 *ngFor="let i of listForm2">
                        <ion-card color="white" no-margin class="news">
                            <ion-card-content>
                                <ion-card-title>
                                    <a>{{i.Name}}</a>
                                </ion-card-title>
                                <p class="summary">
                                    {{i.Description}}
                                </p>
                                <div padding></div>
                                <button *ngIf="i.TrangThaiCode === 'Update'" ion-button block (click)="openDetailModal(i.Index)">CẬP NHẬT</button>
                                <button *ngIf="i.TrangThaiCode === 'New'" ion-button block (click)="openDetailModal(i.Index)">TẠO MỚI</button>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <!-- Đăng ký Clinical Trial -->
        <ion-slide class="page-1">
            <ion-grid>
                <ion-row class="center-row">
                    <ion-col col-md-3>
                        <ion-card color="white" no-margin class="news">
                            <ion-card-content>
                                <ion-card-title>
                                    <a>Số NCT</a>
                                </ion-card-title>
                                <p class="summary">
                                    Hướng dẫn đăng ký NCT
                                </p>
                                <div class="c-control">
                                    <input class="c-input" type="text" [(ngModel)]="item.SoNCT" />
                                </div>
                                <button ion-button block (click)="updateNCT()">CẬP NHẬT</button>
                            </ion-card-content>
                        </ion-card>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <!-- Thu nhận bệnh nhân -->
        <ion-slide class="page-1">
            <ion-grid>
                <ion-row class="center-row">
                    <ion-col col-md-4 *ngFor="let i of listForm4">
                        <ion-card color="white" no-margin class="news">
                            <ion-card-content>
                                <ion-card-title>
                                    <a>{{i.Name}}</a>
                                </ion-card-title>
                                <p class="summary">
                                    {{i.Description}}
                                </p>
                                <div padding></div>
                                <button *ngIf="i.TrangThaiCode === 'Update'" ion-button block (click)="openDetailModal(i.Index)">CẬP NHẬT</button>
                                <button *ngIf="i.TrangThaiCode === 'New'" ion-button block (click)="openDetailModal(i.Index)">TẠO MỚI</button>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <!-- Nghiệm thu -->
        <ion-slide class="page-1">
            <ion-grid>
                <ion-row class="center-row">
                    <ion-col col-md-4 *ngFor="let i of listForm5">
                        <ion-card color="white" no-margin class="news">
                            <ion-card-content>
                                <ion-card-title>
                                    <a>{{i.Name}}</a>
                                </ion-card-title>
                                <p class="summary">
                                    {{i.Description}}
                                </p>
                                <div padding></div>
                                <button *ngIf="i.TrangThaiCode === 'Update'" ion-button block (click)="openDetailModal(i.Index)">CẬP NHẬT</button>
                                <button *ngIf="i.TrangThaiCode === 'New'" ion-button block (click)="openDetailModal(i.Index)">TẠO MỚI</button>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>