page-de-tai-detail {
    .head-bg .head-title {
        text-transform: uppercase;
        font-weight: 400;
    }
    .fake-header-bg {
        height: 145px;
        background-position: 0 -173px;
    }
    @media (min-width: 768px) {
        .head-bg {
            padding-top: 0;
            position: absolute;
            top: 0;
            right: auto;
            bottom: 0;
            left: 0;
            width: 270px;
            background-size: cover;
        }
        .head-bg .emptyzone {
            display: block !important;
        }
        .head-bg .back-holder {
            margin-top: -49px;
        }
        .fake-header-bg,
        .head-bg .head-title {
            display: none;
        }
        ion-slides.marginLeft {
            margin-left: 270px;
        }
    }
    .swiper-slide {
        text-align: left;
    }
    .swiper-pagination {
        display: block;
        width: 100%;
        bottom: auto !important;
        margin-top: 12px;
    }
    .swiper-pagination .swiper-pagination-bullet {
        margin: 0 7px;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 26px;
        font-size: 16px;
        font-weight: 700;
        color: #207895;
        opacity: 1;
        background: #eafbff;
        border: 3px solid #eafbff;
        cursor: pointer;
    }
    .swiper-pagination .swiper-pagination-bullet:before {
        content: "";
        height: 3px;
        width: 35px;
        display: inline-block;
        background: #ebfafe;
        position: absolute;
        margin-top: 12px;
        z-index: -1;
    }
    .swiper-pagination .swiper-pagination-bullet .title,
    .swiper-pagination .swiper-pagination-bullet:last-child:before {
        display: none;
    }
    .swiper-pagination .swiper-pagination-bullet-active {
        border: 3px solid #ffb100;
        color: #ffb100;
    }
    @media (min-width: 768px) {
        .swiper-pagination {
            margin-top: calc(3vh + 70px);
            padding-left: 16px;
        }
        .swiper-pagination .swiper-pagination-bullet {
            display: block;
            margin-bottom: 20px;
        }
        .swiper-pagination .swiper-pagination-bullet:before {
            height: 50px;
            width: 3px;
            margin-left: 3px;
        }
        .swiper-pagination .swiper-pagination-bullet .title {
            display: inline-block;
            position: absolute;
            margin-left: 22px;
            color: #fff;
            font-weight: 400;
            font-size: 14px;
        }
        .swiper-pagination .swiper-pagination-bullet-active .title {
            font-weight: 700;
            color: #ffb100;
        }
    }
    ion-card {
        width: 100%;
    }
    .page-0 {
        display: block;
        background-color: #f8f8f8;
        width: 100%;
        min-height: 100vh;
    }
    .page-0 .banner {
        background: url(/BOOKING/login.7c1ee087b94b0ba6f58a.jpg) center/cover no-repeat;
        position: relative;
        display: block;
        height: 45vh;
        min-height: 255px;
        width: 100%;
    }
    .page-0 .banner:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(32, 120, 149, 0.1);
    }
    .page-0 .info {
        color: #fff;
        line-height: 20px;
        font-size: 13px;
        text-align: left;
    }
    @media (min-width: 992px) {
        .center-row {
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
        }
    }
    .page-1,
    .page-2 {
        min-height: 100vh;
    }
    .page-1 ion-card .thumb,
    .page-2 ion-card .thumb {
        height: 170px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .page-1 ion-card .thumb.bs,
    .page-2 ion-card .thumb.bs {
        background-position: top;
        height: 250px;
    }
    .page-1 ion-card ion-card-title,
    .page-2 ion-card ion-card-title {
        font-size: 16px;
        line-height: 30px;
    }
    .page-1 ion-card .summary,
    .page-2 ion-card .summary {
        font-size: 13px;
        line-height: 20px;
        height: 60px;
    }
    .page-3 {
        width: 100%;
        min-height: 100vh;
    }
    .page-3 ion-card {
        max-width: 350px;
    }
    .page-3 .month-select {
        padding: 16px 0 18px;
        line-height: 35px;
        height: 70px;
    }
    .page-3 .month-select input {
        background-color: transparent;
        height: 40px;
        border: none;
        font-size: 16px;
        color: #27465b;
        width: 100%;
    }
    .page-3 .month-select .button-small {
        width: 33px !important;
        font-size: 9px;
    }
    .page-3 .date-select .date-holder {
        display: table;
        min-width: 100%;
    }
    .page-3 .date-select .date-holder .date-line,
    .page-3 .date-select .date-holder .head-line {
        text-align: center;
        width: 100%;
        line-height: 32px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page-3 .date-select .date-holder .date-line span,
    .page-3 .date-select .date-holder .head-line span {
        width: calc(100% / 7);
        height: 39px;
        color: #273d51;
        font-size: 12px;
        text-align: center;
    }
    .page-3 .date-select .date-holder .date-line span.d {
        color: #273d51;
        font-size: 13px;
        cursor: pointer;
        position: relative;
    }
    .page-3 .date-select .date-holder .date-line span.d:before {
        content: "";
        display: block;
        position: absolute;
        left: calc(50% - 16px);
        z-index: -1;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid #eafbff;
        background-color: #eafbff;
    }
    .page-3 .date-select .date-holder .date-line span.d.out {
        cursor: default;
        color: #354f64 !important;
    }
    .page-3 .date-select .date-holder .date-line span.d.out:before {
        background-color: #f9f8f8 !important;
        border-color: #f1f1f1 !important;
    }
    .page-3 .date-select .date-holder .date-line span.d.over {
        color: #c7c7c7;
        cursor: default;
    }
    .page-3 .date-select .date-holder .date-line span.d.over:before {
        border: 1px solid #ececec;
        background-color: #f7f7f7;
    }
    .page-3 .date-select .date-holder .date-line span.d.today:before {
        border: 1px solid #ffb103;
    }
    .page-3 .date-select .date-holder .date-line span.d.selected {
        color: #fff;
    }
    .page-3 .date-select .date-holder .date-line span.d.selected:before {
        border: 1px solid #207895;
        background-color: #207895;
    }
    .page-3 .date-select .date-holder .date-line span.d .m {
        font-size: 9px;
        color: red;
    }
    .page-3 .time-select {
        text-align: center;
        margin: 27px -20px;
        padding: 25px 20px;
        border-top: 1px solid #e6e6e6;
    }
    .page-3 .time-select:last-child {
        border-bottom: 1px solid #e6e6e6;
    }
    .page-3 .time-select .partner-info {
        text-align: left;
    }
    .page-3 .time-select .partner-info .field-value {
        font-weight: 700;
        margin: 10px 0;
    }
    .page-3 .time-select .partner-info .address {
        margin-bottom: 20px;
    }
    .page-4 {
        width: 100%;
        min-height: 100vh;
    }
    .page-4 ion-card {
        max-width: 350px;
    }
    .page-5 .main-content .summary {
        text-align: center;
        margin-bottom: 20px;
    }
    .page-5 .main-content .summary .edit {
        position: absolute;
        right: 16px;
        margin-top: 4px;
    }
    .page-5 .main-content .summary .time {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        line-height: 30px;
    }
    .page-5 .main-content .summary .date {
        line-height: 20px;
        font-size: 14px;
        color: #fff;
    }
    ion-header.head-bg {
        padding-top: 15px;
        display: block;
        background-color: #007DC5;
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
    }
}