<ion-header>
  <button class="close-btn" ion-button clear icon-only large (click)="dismiss()">
      <ion-icon name="close" color="ivf1"></ion-icon>
  </button>
</ion-header>

<ion-content>
    <form [formGroup]="formGroup">
        <div padding></div>
        <div class="c-control">
            <label class="c-label" for="Subject">
                Tiêu đề
                <span ion-text color="danger">(*)</span>
            </label>
            <input class="c-input" id="Subject" [(ngModel)]="item.Subject" formControlName="Subject" type="text">
        </div>

        <div class="c-control" *ngIf="item.Code == 'EmailGuiHDNB_HRCO' || item.Code == 'EmailGuiHDDD_HRCO'">
            <label class="c-label" for="EmailList">
                Email nhận thông báo
                <span ion-text color="danger">(*)</span>
            </label>
            <input class="c-input" id="EmailList" [(ngModel)]="item.EmailList" formControlName="EmailList" type="text">
        </div>

        <div class="c-control">
            <label class="c-label" for="Body">
                Nội dung
                <span ion-text color="danger">(*)</span>
            </label>
            <textarea rows="40" class="c-input" id="Body" [(ngModel)]="item.Body" formControlName="Body" type="textarea"></textarea>
        </div>

        <div class="c-control" *ngIf="item.ID==0">
            <label class="c-label" for=""></label>
            <button ion-button float-right (click)="saveChange()">
                Lưu
            </button>
        </div>
        <div class="c-control" *ngIf="item.ID!=0">
            <label class="c-label" for=""></label>

            <button ion-button float-right (click)="saveChange()" [disabled]="!formGroup.dirty">
                Lưu
            </button>
            <button color="warning" ion-button float-right (click)="cancel()" [disabled]="!formGroup.dirty">
                Hủy thay đổi
            </button>
        </div>
    </form>
</ion-content>