<ion-header>
    <button class="close-btn" ion-button clear icon-only large (click)="dismiss()">
    <ion-icon name="close" color="ivf1"></ion-icon>
</button>
</ion-header>

<ion-content>
    <form [formGroup]="formGroup">
        <div padding></div>
        <div class="c-control" *ngIf="isNew==0">
            <label class="c-label" for="IDBenhNhan">
                Mã số đối tượng
                <span *ngIf="!formGroup.controls.IDBenhNhan.valid && !formGroup.controls.IDBenhNhan.pending && (formGroup.controls.IDBenhNhan.dirty || submitAttempt)"
                      ion-text color="danger">(*)</span>
            </label>

            <select class="c-input c-dropdown" [(ngModel)]="item.IDBenhNhan" formControlName="IDBenhNhan">
                <option *ngFor="let t of benhNhans" [value]="t.ID">{{t.MaBenhNhan}}</option>
            </select>
        </div>

        <div class="c-control" *ngIf="isNew==1">
            <label class="c-label" for="MaBenhNhan">
                Mã số đối tượng
                <span *ngIf="!formGroup.controls.MaBenhNhan.valid && !formGroup.controls.MaBenhNhan.pending && (formGroup.controls.MaBenhNhan.dirty || submitAttempt)"
                      ion-text color="danger">(*)</span>
            </label>
            <input class="c-input" id="MaBenhNhan" [(ngModel)]="item.MaBenhNhan" formControlName="MaBenhNhan" type="text">
        </div>

        <div class="c-control" *ngIf="isNew==1">
            <label class="c-label" for="GioiTinh">
                Giới tính
                <span *ngIf="!formGroup.controls.GioiTinh.valid && !formGroup.controls.GioiTinh.pending && (formGroup.controls.GioiTinh.dirty || submitAttempt)"
                      ion-text color="danger">(*)</span>
            </label>
            <input class="c-input" id="GioiTinh" [(ngModel)]="item.GioiTinh" formControlName="GioiTinh" type="text">
        </div>

        <div class="c-control" *ngIf="item.ID==0&&isNew==0">
            <label class="c-label" for=""></label>
            <button ion-button float-right (click)="saveChange()">
                Thêm bệnh nhân
            </button>
        </div>

        <div class="c-control" *ngIf="item.ID==0&&isNew==1">
            <label class="c-label" for=""></label>
            <button ion-button float-right (click)="createBN()">
                Thêm bệnh nhân
            </button>
        </div>

        <div class="c-control" *ngIf="item.ID!=0">
            <label class="c-label" for=""></label>

            <button ion-button float-right (click)="saveChange()" [disabled]="!formGroup.dirty">
                Lưu
            </button>
            <button color="warning" ion-button float-right (click)="cancel()" [disabled]="!formGroup.dirty">
                Hủy thay đổi
            </button>
        </div>
    </form>
</ion-content>