<ion-header *ngIf="userprofile">

    <a (click)="openDefaultPage()" class="logo" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.LogoURL? userprofile.Partner.LogoURL : './assets/imgs/avartar-empty.jpg') + ')'}"></a>
    <div class="search">
        <ion-searchbar class="txt-search" placeholder="Search..." [(ngModel)]="keyword" (ionInput)="search($event)"></ion-searchbar>
    </div>
    <div class="partner">
        <select [attr.disabled]="Modules.length >1 ? null : ''" [(ngModel)]="CurrentModule" (change)="changeModule()">
            <option *ngFor="let t of Modules" [value]="t.Module">{{t.Name}}</option>
        </select>
    </div>
    <div class="path">
        <div class="filter-block" (click)="showDatePicks = !showDatePicks">
            <input style="width: 110px; cursor: pointer" disabled type="text" class="c-dropdown" placeholder="Thời gian">
            <ion-icon [color]="(query.DateFrom == '' && query.DateTo == '')? 'ivf1':'danger'" class="split" name="ios-funnel"></ion-icon>
        </div>&nbsp;
        <div class="filter-block" (click)="showStatus = !showStatus">
            <input style="width: 110px; cursor: pointer" disabled type="text" class="c-dropdown" placeholder="Tình trạng">
            <ion-icon [color]="query.ListStatusID != ''? 'danger':'ivf1'" class="split" name="ios-funnel"></ion-icon>
        </div>
    </div>
    <div class="tools">
        <button color="primary" ion-button icon-only clear (click)="refresh()" title="Refresh">
            <ion-icon name="refresh"></ion-icon>
        </button>

        <button ion-button small (click)="export()">
            Xuất excel
        </button>
    </div>

    <div class="background" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.BannerURL? userprofile.Partner.BannerURL : './assets/imgs/header-bg.jpg') + ')'}"></div>

</ion-header>

<ion-content>
    <ion-row>
        <ion-col class="doc-menu">
            <div class="root-items" *ngFor="let i of FormGroups">
                <a *ngFor="let t of i.FormMenu" [class]="pageName==t.Code? 'active': ''" (click)="setPage(t.Code)">
                    <ion-icon [name]="t.Icon"></ion-icon>
                    <span>
                        {{t.Name}}
                    </span>
                </a>
            </div>
        </ion-col>


        <ion-col class="doc-main">

            <div [ngClass]="showDatePicks ? '' : 'hideDatePickers'" style="position: absolute; z-index: 100; width: 432px; padding: 16px 0 10px 10px; border-radius: 0 0 5px 5px; background: white; box-shadow: 3px 3px 10px 0px #007cc56e;">
                <ion-grid>
                    <ion-row responsive-sm>
                        <ion-col col-12 col-sm-6 padding-right>
                            <div class="c-control">
                                <label class="c-label" for="TuNgay">Từ ngày</label>
                                <input matInput [matDatepicker]="TuNgay" [(ngModel)]="timeQuery.DateFrom" class="c-input" style="width: 141px;" placeholder="DD/MM/YYYY">
                                <mat-datepicker-toggle matSuffix [for]="TuNgay"></mat-datepicker-toggle>
                                <mat-datepicker #TuNgay></mat-datepicker>
                            </div>
                        </ion-col>
                        <ion-col col-12 col-sm-6 padding-right>
                            <div class="c-control">
                                <label class="c-label" for="DenNgay">Đến ngày</label>
                                <input matInput [matDatepicker]="DenNgay" [(ngModel)]="timeQuery.DateTo" class="c-input" style="width: 141px;" placeholder="DD/MM/YYYY">
                                <mat-datepicker-toggle matSuffix [for]="DenNgay"></mat-datepicker-toggle>
                                <mat-datepicker #DenNgay></mat-datepicker>
                            </div>
                        </ion-col>
                        <ion-col col-12 padding-right>
                            <div class="c-control">
                                <button small ion-button float-right (click)="filterByTime()">
                                    Lọc
                                </button>
                                <button small color="warning" ion-button float-right (click)="clearFilterByTime()">
                                    Bỏ lọc
                                </button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <div [ngClass]="showStatus ? '' : 'hideStatus'" style="position: absolute; z-index: 100; width: 160px; left:110px; padding: 10px 0 10px 10px; border-radius: 0 0 5px 5px; background: white; box-shadow: 3px 3px 10px 0px #007cc56e;">
                <ion-grid>
                    <ion-row *ngFor="let t of statusList" style="margin-bottom:2px">
                        <label style="word-wrap:break-word" [for]="t.Code"> <input type="checkbox" [id]="t.Code" [(ngModel)]="t.Selected"> {{t.ValueOfVar}}</label>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 padding-right>
                            <div class="c-control">
                                <button small ion-button float-right (click)="filterByStatus()">
                                    Lọc
                                </button>
                                <button small color="warning" ion-button float-right (click)="clearFilterByStatus()">
                                    Bỏ lọc
                                </button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <ngx-datatable class="material" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable" [columnMode]="'force'" [headerHeight]="55" [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="lstData"
                           [selectionType]="'single'" (select)='onSelect($event)'>

                <ngx-datatable-column name="Tên đề tài" prop="TenDeTai" [width]="250" headerClass="name" cellClass="name">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        <a (click)="openDetail(i)">
                            {{i.TenDeTai}}
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Chủ nhiệm đề tài" prop="ChuNhiemDeTai"></ngx-datatable-column>
                <ngx-datatable-column name="Nghiên cứu viên chính" prop="NCVChinh" [width]="180"></ngx-datatable-column>
                <ngx-datatable-column name="Số NCT" prop="SoNCT" [width]="100"></ngx-datatable-column>
                <ngx-datatable-column name="Ngày duyệt NC" prop="NgayDuyetNghienCuu" [width]="170" [maxWidth]="170" headerClass="name" cellClass="name">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        {{i.NgayDuyetNghienCuu}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="TG tiến hành" prop="ThoiGianTienHanh" [width]="130" headerClass="name" cellClass="name">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        {{i.ThoiGianTienHanh}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Tiến độ (%)" prop="CompletePercent" [width]="240" [maxWidth]="240" headerClass="name" cellClass="name">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        <div class="w3-container" style="height: 100%;padding: 10px 0px;">
                            <div class="w3-light-grey">
                                <div class="w3-container w3-green w3-center" [ngStyle]="{'width': i.CompletePercent + '%'}">&nbsp;{{i.CompletePercent}}%</div>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Số lần báo cáo" prop="SoLanDaBaoCao" [width]="120"></ngx-datatable-column>
                <ngx-datatable-column name="Ngày báo cáo" prop="LastReportDate" [width]="150" [maxWidth]="150">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        {{i.LastReportDateText}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Người báo cáo" prop="LastReportBy" [width]="150"></ngx-datatable-column>
            </ngx-datatable>
        </ion-col>
    </ion-row>
</ion-content>