<ion-header *ngIf="userprofile">

    <a (click)="openDefaultPage()" class="logo" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.LogoURL? userprofile.Partner.LogoURL : './assets/imgs/avartar-empty.jpg') + ')'}"></a>
    <div class="search">
        <ion-searchbar class="txt-search" placeholder="Search..." [(ngModel)]="keyword" (ionInput)="search($event)"></ion-searchbar>
    </div>
    <div class="partner">
        <select [attr.disabled]="Modules.length >1 ? null : ''" [(ngModel)]="CurrentModule" (change)="changeModule()">
            <option *ngFor="let t of Modules" [value]="t.Module">{{t.Name}}</option>
        </select>
    </div>
    <div class="path">
        <a (click)="openDefaultPage()">Home</a>
        <ion-icon class="split" name="ios-arrow-forward"></ion-icon>
        <a class="active">Thiết lập thời gian báo cáo Tiến độ nghiên cứu</a>
    </div>
    <div class="tools">
        <button color="success" ion-button icon-only clear (click)="saveCustom()">
            <ion-icon name="checkmark-circle"></ion-icon>
        </button>
    </div>

    <div class="background" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.BannerURL? userprofile.Partner.BannerURL : './assets/imgs/header-bg.jpg') + ')'}"></div>

</ion-header>

<ion-content>
    <ion-row>
        <ion-col class="doc-menu">
            <div class="root-items" *ngFor="let i of FormGroups">
                <a *ngFor="let t of i.FormMenu" [class]="pageName==t.Code? 'active': ''" (click)="setPage(t.Code)">
                    <ion-icon [name]="t.Icon"></ion-icon>
                    <span>
                        {{t.Name}}
                    </span>
                </a>
            </div>
        </ion-col>

        <ion-col class="doc-main">
            <ion-grid>
                <ion-row responsive-sm>
                    <label class="c-label-bold">Đợt 1</label>
                </ion-row>
                <ion-row responsive-sm>
                    <ion-col col-12 col-sm-6 padding-right>
                        <div class="c-control">
                            <label class="c-label" for="GiaiDoan1_NgayBatDau">Ngày bắt đầu</label>
                            <select class="c-input c-dropdown" [(ngModel)]="item.ThoiGianBaoCaoTDNC.GiaiDoan1_NgayBatDau">
                                <option value="0" selected>--</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </ion-col>
                    <ion-col col-12 col-sm-6 padding-right>
                        <div class="c-control">
                            <label class="c-label" for="GiaiDoan1_NgayKetThuc">Ngày kết thúc</label>
                            <select class="c-input c-dropdown" [(ngModel)]="item.ThoiGianBaoCaoTDNC.GiaiDoan1_NgayKetThuc">
                                <option value="0" selected>--</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row responsive-sm>
                    <label class="c-label-bold">Đợt 2</label>
                </ion-row>
                <ion-row responsive-sm>
                    <ion-col col-12 col-sm-6 padding-right>
                        <div class="c-control">
                            <label class="c-label" for="GiaiDoan2_NgayBatDau">Ngày bắt đầu</label>
                            <select class="c-input c-dropdown" [(ngModel)]="item.ThoiGianBaoCaoTDNC.GiaiDoan2_NgayBatDau">
                                <option value="0" selected>--</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </ion-col>
                    <ion-col col-12 col-sm-6 padding-right>
                        <div class="c-control">
                            <label class="c-label" for="GiaiDoan2_NgayKetThuc">Ngày kết thúc</label>
                            <select class="c-input c-dropdown" [(ngModel)]="item.ThoiGianBaoCaoTDNC.GiaiDoan2_NgayKetThuc">
                                <option value="0" selected>--</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-content>