<ion-header *ngIf="userprofile">
    <a (click)="openDefaultPage()" class="logo" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.LogoURL? userprofile.Partner.LogoURL : './assets/imgs/avartar-empty.jpg') + ')'}"></a>
    <div class="search">
        <ion-searchbar class="txt-search" placeholder="Search..." [(ngModel)]="keyword" (ionInput)="search($event)"></ion-searchbar>
    </div>
    <div class="partner">
        <select [attr.disabled]="userprofile.Partners.length >1 ? null : ''" [(ngModel)]="query.IDPartner" (change)="changePartner()">
            <option *ngFor="let t of userprofile.Partners" [value]="t.ID">{{t.Name}}</option>
        </select>
    </div>
    <div class="path">
        <!-- <a (click)="openDefaultPage()">Home</a>
        <ion-icon class="split" name="ios-arrow-forward"></ion-icon>
        <a class="active">Danh sách bài viết</a> -->
        <ion-icon class="split" name="ios-funnel"></ion-icon>

        
        <select [(ngModel)]="filterValue" (change)="changeFilter()" class="c-dropdown">
            <option value="Home">Trang chủ</option>
            <option value="Pin">Bài viết quan trọng</option>
            <optgroup label="Thuộc danh mục">
                <option *ngFor="let t of DanhMuc" [value]="t.ID">{{t.Code + ' ' + (t.Name? t.Name : '')}}</option>
            </optgroup>
        </select>
    </div>
    <div class="tools">
        <button color="primary" ion-button icon-only clear (click)="refresh()">
            <ion-icon name="refresh"></ion-icon>
        </button>
        <button color="success" ion-button icon-only clear (click)="add()">
            <ion-icon name="ios-add-circle"></ion-icon>
        </button>
        <span class="split" *ngIf="selected.length"></span>
        <button ion-button icon-only clear *ngIf="selected.length" (click)="copy()">
            <ion-icon name="ios-copy"></ion-icon>
        </button>
        <button ion-button icon-only clear *ngIf="selected.length" (click)="openDetail(selected[0])">
            <ion-icon name="ios-create"></ion-icon>
        </button>
        <button color="danger" ion-button icon-only clear *ngIf="selected.length" (click)="delete()">
            <ion-icon name="ios-trash"></ion-icon>
        </button>
    </div>

    <div class="background" [ngStyle]="{'background-image': 'url(' + (userprofile.Partner.BannerURL? userprofile.Partner.BannerURL : './assets/imgs/header-bg.jpg') + ')'}"></div>

</ion-header>

<ion-content>
    <ion-row>
        <ion-col class="doc-menu">
            <div class="root-items" *ngFor="let i of FormGroups">
                <a *ngFor="let t of i.Forms" [class]="pageName==t.Code? 'active': ''" (click)="setPage(t.Code)">
                    <ion-icon [name]="t.Icon"></ion-icon>
                    <span>
                        {{t.Name}}
                    </span>
                </a>
            </div>
        </ion-col>
        <ion-col class="doc-main">
            <ngx-datatable class="material" [loadingIndicator]="loadingIndicator" [reorderable]="reorderable" [columnMode]="'force'"
                [headerHeight]="0" [footerHeight]="0" [rowHeight]="200" [scrollbarV]="true" [scrollbarH]="false" [rows]="items"
                [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'>

                <ngx-datatable-column name="" prop="Code">
                    <ng-template let-i="row" ngx-datatable-cell-template>
                        <div class="news-item">
                            <a class="thumb" (click)="openDetail(i)" [ngStyle]="{'background-image': 'url(' + (i.ThumbnailImage?.indexOf('http')==0? i.ThumbnailImage : imageServer + i.ThumbnailImage)  + ')'}"></a>

                            <div class="info">

                                <a class="title" (click)="openDetail(i)">{{i.Name}}</a>
                                <span class="summary">
                                    {{i.Remark}}
                                </span>
                                <div class="news-info">
                                    <span class="author">
                                        <ion-icon name="ios-contact"></ion-icon>
                                        {{i.CreatedBy}}
                                    </span>
                                    <span class="date-time">
                                        <ion-icon name="ios-time"></ion-icon>
                                        {{ commonService.dateFormat(i.ModifiedDate, 'hh:MM dd/mm/yyyy')}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

        </ion-col>
    </ion-row>
</ion-content>