page-post{
    .path{

		white-space: nowrap;
        line-height: 32px !important;
        .split {
            padding: 0 7px;
            position: absolute;
            z-index: 0;
            right: 4px;
            top: 9px;
        }
    }

    .c-dropdown{
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        padding: 15px 25px;

        // height: 3.6rem;
        // line-height: 3.6rem;

        font-size: 14px;
        color: map-get($map: $colors, $key: ivfdark1);
        border: 1px solid map-get($map: $colors, $key: ivf2);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(100% - 0px);
        line-height: 25px;
        padding: 0 35px 0 7px;
        z-index: 1;
	    position: relative;
    
    }

    .doc-main{
        span.logo {
            width: 40px;
            height: 40px;
            display: block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 5px;
            float: left;
        }
        .datatable-body-cell{
            .news-item{
                margin-bottom: 0px;
                .thumb{
                    background-color: map-get($map: $colors, $key: ivf2);
                    display: block;
                    
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    height: 160px;
                    width: 250px;
                    float: left;
                    margin: 20px;

                    border-radius: 10px;
                    overflow: hidden;

                }
                .info{
                    width: calc(100% - 290px);
                    padding-right: 20px;
                    float: left;

                    .title{
                        color: map-get($map: $colors, $key: ivf1);
                        font-size: 1.6rem;
                        font-weight: bold;
                        display: block;
                        line-height: 2rem;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        white-space: normal;
                    }
                    .summary{
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        color: map-get($map: $colors, $key: ivf1);

                        white-space: normal;
                        line-height: normal;
                        display: inline-block;
                        overflow: hidden;
                        max-height: 55px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        font-size: 14px;
                        line-height: 18px;
    

                    }
                    .news-info{
                        margin-top: 20px;
                        .author, .date-time{
                            display: inline-block;
                            color: map-get($map: $colors, $key: ivf1);
                            ion-icon{
                                margin-right: 7px;
                            }
                        }
                        .author{
                            padding-right: 30px;
                        }
                    }
                }
            
            }



        }
    }
    
}
