<ion-content>


<div id="login-page">
    <div class="col-left">
        <div class="header">
            <h1>QUÊN MẬT KHẨU</h1>
        </div>
        <div class="form">

            <form [formGroup]="formGroup" (ngSubmit)="login()">

                <div class="c-control">

                    <label class="c-label" for="">Tài khoản (email)
                        <span *ngIf="!formGroup.controls.UserName.valid && !formGroup.controls.UserName.pending && (formGroup.controls.UserName.dirty || submitAttempt)"
                            ion-text color="danger">(*)</span>
                    </label>
                    <input placeholder="Tài khoản - email" class="c-input" [(ngModel)]="email" formControlName="UserName">
                    <p class="message-right" *ngIf="!formGroup.controls.UserName.valid  && (formGroup.controls.UserName.dirty || submitAttempt)"
                        ion-text color="danger">
                        Vui lòng nhập email</p>
                </div>


                <button style="display: none;" ion-button block></button>
            </form>


            <button ion-button block (click)="forgotPassword()">Yêu cầu đổi mật khẩu</button>
            <button ion-button clear small float-right (click)="goBack()">
                Quay trở lại
            </button>


        </div>
        <div class="footer">

        </div>
    </div>
    <div class="col-right">
        <div class="logos">
            <img src="../../../assets/imgs/BVMD.png">
            <img src="../../../assets/imgs/IVFMD.png">
        </div>

        <h1>THƯ VIỆN ĐIỆN TỬ</h1>
    </div>

</div>
</ion-content>